{% extends "layout.html" %}
{% block content %}

    <div class="content-section">
        <div class="media">
          <img class="rounded-circle account-img" src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}">
          <div class="media-body">
            <h2 class="account-heading">{{ current_user.child_name }}</h2>
            <p class="text-secondary">Age: {{ birth }}</p>
          </div>
        </div>
    </div>

    {% block footer %}{% endblock footer %}

    {% endblock content %}
        
    