{% extends "home.html" %}
{% block footer %}
    <div class="content-section">
        <form method="POST" action="{{ url_for('sleeppage') }}">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ legend }}</legend>
                <div class="form-group">
                    {{ form.begin.label(class="form-control-label") }}
                    {% if form.begin.errors %}
                        {{ form.begin(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.begin.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.begin(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.end.label(class="form-control-label") }}
                    {% if form.end.errors %}
                        {{ form.end(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.end.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.end(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                
                <div class="form-group">
                    {{ form.reason.label(class="form-control-label") }}
                    {% if form.reason.errors %}
                        {{ form.reason(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.reason.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.reason(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>

    {% endblock footer %} 